.App{
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 100%;
  height: 100%;
}

.loading-dots {
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.loading-dots::after {
  content: '...';
  animation: blink 1s infinite;
}

.message-avatar{
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.wrapper.open{
  position:fixed;
  height: 500px;
  max-width: 400px;
  bottom: 100px;
  right: 30px;
  padding: 8px 8px;
  background: #fdfdfe;
  border-radius: 20px;
  box-shadow: 0px 8px 8px rgba(0,0,0,0.4);
  transition: max-height 0.5s ease, opacity 0.5s ease;
 
}
.wrapper.closed{
  height: 0;
  opacity: 0;
}

.content{
  display: flex;
  align-items: center;
  height: 20%;
}

.main{
  height: 80%;
}

.main_content{
  height:85%;
  overflow-y: scroll;
}

.bottom{
  position: sticky;
  height: 15%;
  margin-top: 5px;
}

.chatbot_icon{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}